@import "../../../node_modules/include-media/dist/include-media";

$breakpoints: (
  phone: 580px,
  tablet: 830px,
  desktop: 1024px,
);

.wrapper {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 30vh;
  min-height: 400px;
  margin: 0 auto;
  border: 1px solid rgba(96, 128, 176, 0.6);
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);

  @include media("<tablet") {
    width: 100%;
    margin: 0 0.25rem;
  }

  @include media("<tablet") {
    height: 90vh;
  }

  .main {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    flex: 1 1;
    padding: 0;
    margin: 0;
  }
}
